{% extends "homepage.html" %}
{% load static %}
{% block title %}Спасибо за заявку!{% endblock %}
{% block main_navbar_id %}{% endblock %}
{% block dark_navbar %}scrolled{% endblock %}
{% block content %}
<div class="row h-100">
   <div class="col-sm-12 my-auto">
       <h2 class="text-center center">Спасибо!</h2>
       <h3 class="text-center">Мы отправили Вам e-mail с подтверждением. Проверьте, пожалуйста, вашу почту!</h3>
   </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}