{% extends "homepage.html" %}
{% load static %}
{% block title %}Услуги{% endblock %}
{% block content %}
    <style>
        .jumbotron{
            background: url("{% static "img/green.jpg" %}") no-repeat center center;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
        }
    </style>

    <div class="jumbotron">
      <header class="masthead mt-0">
          <div class="container h-100 masthead-content pb-5 pt-0">
            <div class="d-flex h-100 text-center align-items-center pb-5 pt-0">
              <div class="w-100 text-white pb-5 pt-0">
                  <h1 class="display-4 mb-0 mt-0 display-1">Услуги</h1>
                  <a href="#start" class="btn btn-primary btn-xl rounded-pill mt-5"><i class="fas fa-arrow-down"></i></a>
              </div>
            </div>
          </div>
      </header>
    </div>

    <hr id="transitNavbar" class="my-5">
    <div class="container" id="start">
        {% if service_types_list %}
            {% for key, value in service_types_list.items %}
                {% if key %}
                    <h1 class="display- my-5 text-center">{{key.title}}</h1>
                {% if value %}
                  <table class="table table-hover mt-5 mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Наименование услуги</th>
                        <th scope="col">Цена, руб.</th>
                      </tr>
                    </thead>
                      <tbody >
                            {% for service in value %}
                                <tr class="sq">
                                      <td>{{service.title}}</td>
                                      <td>{{service.price}} за {{service.measure_type}}</td>
                                </tr>
                            {% endfor %}
                      </tbody>
                  </table>
                {% else %}
                    <h2 class="text-center">К сожалению, нам нечего сейчас Вам предложить :(</h2>
                {% endif %}
                {% endif %}
            {% endfor %}
            <p class="text-secondary text-small mb-5"><small>*Цены указаны в ознакомительных целях.</small></p>
        {% else %}
                <h2 class="text-center my-5">К сожалению, нам нечего сейчас Вам предложить :(</h2>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}