<footer>
<div class="container py-0">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
      <ul class="list-unstyled list-inline social text-center">
        <li class="list-inline-item"><a target="_blank" href="https://redsale.by/profile/goncharik-sv"><i class="fas fa-globe"></i></a></li>
        <li class="list-inline-item"><a target="_blank" href="mailto:floor.grinding.bel@gmail.com"><i class="far fa-envelope"></i></a></li>
      </ul>
    </div>
    </hr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <p class="mb-0 text-small">&copy 2019. All right Reversed.</p>
      <p class="mb-0 text-small">Developed by Georgei Goncharik.</p>
    </div>
    </hr>
  </div>
</div>
</footer>